* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


h2 {
    margin-left: 100px;
}

.form-box {
    margin-top:50px;
    background-color:yellow;
    border: 1px solid lime;
    width: 350px;
    height: 380px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow:  2px 2px 10px rgb(205, 188, 188);

}
.form-box h3 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    background-color: greenyellow;
    padding: 10px 5px;
}
input 
{
    width: 90%;
    height: 45px;
    padding: 0px 10px;
    border: 1px solid gray;
    font-size: 20px;
    border-radius: 5px;
}
input:focus {
    /* border: 1px solid yellowgreen; */
    outline: 1px  solid blue;
    border: none;
}
.form-box button 
{
    height: 35px;
    border: none;
    color:white;
    background-color: yellowgreen;
    font-size: 20px;
    padding: 16px 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
/* --------------Expand Para------------------- */
section {
    padding: 25px;
}
#hiddenPara
{
   display: none;
}

.content-box
{
  width: 450px;
  font-size: 20px;
  text-align: center;
  padding:25px;
  background-color: aquamarine;
  box-shadow:  2px 2px 10px rgb(205, 188, 188);
}
